:root {
  --base-font: NationalPark, Helvetica, Verdana, sans-serif;
  --heading-font: Pacifico, script;

  --color-black: #000;
  --color-white: #fff;
  --color-gray: #ddd;
  --color-green: #2C5A28;
  --color-green-light: #C3DDC1;

  --color-brown: #41362F;
  --color-yellow: #DCC574;
  --color-peach: #F8E4C8;
}

body {
  font-family: var(--base-font);
  font-size: 100%;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}