:root {
  --base-font: NationalPark, Helvetica, Verdana, sans-serif;
  --heading-font: Pacifico, script;
  --sans-serif-font: Helvetica, sans-serif;

  --color-black: #000;
  --color-white: #fff;
  --color-gray: #ddd;
  --color-green: #2C5A28;
  --color-green-light: #C3DDC1;

  --color-brown: #41362F;
  --color-yellow: #DCC574;
  --color-peach: #F8E4C8;
}

body {
  font-family: var(--base-font);
  font-size: 100%;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.site {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  display: grid;
  grid-template-columns: 100%;  
  height: calc(100vh - 9.375rem);

  @media (min-width: 768px){
    grid-template-columns: 2fr 1fr;  
  }
}