// .mainContainer {
//   display: grid;
//   grid-template-columns: 3fr 1fr;  
//   gap: 3rem;
//   overflow: hidden;
// }

.listContainer {
  overflow-y: scroll;
}

.detailContainer {
  overflow-y: scroll;
  padding: 2rem;
}