.parkItem {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--color-gray);
}

.parkItemLink {
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--color-green);

  &:hover {
    background-color: var(--color-green-light);
  }
}

.parkItemLink--active {
  background-color: var(--color-peach);
}